---
BasedOnStyle: LLVM
AccessModifierOffset: -2
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: true
...

