<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
//
//  ___FILENAME___
//  compiler-workout-llvm
//
//  Created by ___FULLUSERNAME___ on ___DATE___
//
//  GitHub
//  https://github.com/broadwaylamb/compiler-workout-llvm
//
</string>
</dict>
</plist>
